.svn
nodelocal.js
changelog/changelogSettings.json
.project
.idea
/.metadata
/.out
/.settings
/.externalToolBuilders
/.idea
/logs
/dotnet/ExcelAddIn/bin
/dotnet/ExcelAddIn/obj
/dotnet/ExcelAddIn/ExcelAddIn.csproj.user
/dotnet/dotnet.suo
.DS_Store
npm-debug.log
/stores
/node_modules/syracuse-main/html/mobile/js/build/error-controls.log
/node_modules/syracuse-main/html/mobile/js/build/errors-init.log
/node_modules/syracuse-main/html/mobile/js/build/errors-res.log
/node_modules/syracuse-collaboration/test/server/exportResults/
/node_modules/babel-core
/node_modules/certificatetest
junk/
.bin
*-N?.log
*.testlog
/certificatetest
/tools/dbgp-proxy/config.json
/node_modules/tools/help-server/config.json
/node_modules/grunt*
/node_modules/jshint-stylish
/node_modules/istanbul
/node_modules/tedious/node_modules/babel
coverage
JSLintNet.json
./*.sln
*.njsproj
*.suo
version.json
/translation-indexes/output
/.ntvs_analysis.dat
.ntvs_analysis.dat
*.log
/cert_gen/output
/cert_gen/private
/certificates
/translation-indexes/output/
# streamline 1.0 branch switch script does not remove babel.core because we don t want to refetch it every time
/node_modules/babel?core/
/logs
/heapdumps
