[submodule "node_modules/bundles/sage-pt-print"]
	path = node_modules/bundles/sage-pt-print
	url = https://github.com/Sage-ERP-X3/bundle-sage-pt-print.git
    
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/Sage-ERP-X3/nodejs

