[submodule "node_modules/bundles/sage-pt-print"]
	path = node_modules/bundles/sage-pt-print
	url = https://github.com/Sage-ERP-X3/bundle-sage-pt-print
    
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/Sage-ERP-X3/nodejs

[submodule "node_modules/xa1-color-picker"]
	path = node_modules/xa1-color-picker
	url = https://github.com/Sage-ERP-X3/xa1-color-picker.git
[submodule "node_modules/xa1-calculator"]
	path = node_modules/xa1-calculator
	url = https://github.com/Sage-ERP-X3/xa1-calculator.git
[submodule "node_modules/ui-visual-process"]
	path = node_modules/ui-visual-process
	url = https://github.com/Sage-ERP-X3/ui-visual-process.git
[submodule "node_modules/ui-d3-graph"]
	path = node_modules/ui-d3-graph
	url = https://github.com/Sage-ERP-X3/ui-d3-graph.git
[submodule "node_modules/ui-schedule"]
	path = node_modules/ui-schedule
	url = https://github.com/Sage-ERP-X3/ui-schedule.git
[submodule "node_modules/ui-chart"]
	path = node_modules/ui-chart
	url = https://github.com/Sage-ERP-X3/ui-chart.git
