.svn
nodelocal.js
.project
/.metadata
/.settings
/.externalToolBuilders
/dotnet/ExcelAddIn/bin
/dotnet/ExcelAddIn/obj
/dotnet/ExcelAddIn/ExcelAddIn.csproj.user
/dotnet/dotnet.suo
.DS_Store
npm-debug.log
