[submodule "node_modules/bundles/sage-pt-print"]
	path = node_modules/bundles/sage-pt-print
	url = https://github.com/Sage-ERP-X3/bundle-sage-pt-print
[submodule "node_modules/streamline-plugin"]
	path = node_modules/streamline-plugin
	url = https://github.com/Sage/streamline-plugin
[submodule "node_modules/streamline-runtime"]
	path = node_modules/streamline-runtime
	url = https://github.com/Sage/streamline-runtime
[submodule "node_modules/streamline"]
	path = node_modules/streamline
	url = https://github.com/Sage/streamlinejs
[submodule "node_modules/galaxy"]
	path = node_modules/galaxy
	url = https://github.com/bjouhier/galaxy.git
[submodule "node_modules/source-map"]
	path = node_modules/source-map
	url = https://github.com/mozilla/source-map.git
[submodule "node_modules/regenerator"]
	path = node_modules/regenerator
	url = https://github.com/facebook/regenerator.git
[submodule "node_modules/colors"]
	path = node_modules/colors
	url = https://github.com/Marak/colors.js.git
[submodule "node_modules/streamline-require"]
	path = node_modules/streamline-require
	url = https://github.com/Sage/streamline-require.git
