.svn
nodelocal.js
changelog/changelogSettings.json
.project
.idea
.jshintrc
.gitignore
/.metadata
/.out
/.settings
/.externalToolBuilders
/dotnet/ExcelAddIn/bin
/dotnet/ExcelAddIn/obj
/dotnet/ExcelAddIn/ExcelAddIn.csproj.user
/dotnet/dotnet.suo
.DS_Store
npm-debug.log
/stores
/node_modules/syracuse-main/html/mobile/js/build/error-controls.log
/node_modules/syracuse-main/html/mobile/js/build/errors-init.log
/node_modules/syracuse-main/html/mobile/js/build/errors-res.log
/node_modules/syracuse-collaboration/test/server/exportResults/
junk/
.bin
*-N?.log
*.testlog
/certificatetest