<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="828b793f-df38-48a2-af37-689aa06060ac"
    Publisher="CN=mathi"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="828b793f-df38-48a2-af37-689aa06060ac" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SageX3WUP.App</DisplayName>
    <PublisherDisplayName>mathi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SageX3WUP.App.App">
      <uap:VisualElements
        DisplayName="SageX3WUP.App"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="SageX3WUP.App"
        BackgroundColor="#006C30">
        <uap:DefaultTile Square310x310Logo="Assets\WideLogo.scale-100.png" Wide310x150Logo="Assets\WideLogo.scale-100.png" Square71x71Logo="Assets\WideLogo.scale-100.png" ShortName="Sage X3"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>